body {
    font-size: 11pt;
}
.index {
    margin: 0 0 0 10px;
}
.sec {
    width:100%;
    table-layout: fixed;
    cell-padding: 1px;
    margin: 0 0 0 10px;
}
.header {
    padding: 10px;
    background-color: lightgray;
}

h2 {
    margin: 0 0 2px 0;
}
td,th {
    vertical-align: top;
    padding: 1px;
}
td.td_bottom {
    vertical-align: bottom;
}

hr {
    color: black;
    background-color: black;
    height:1px;
    border: 0px;
}

ul,ol,li {
    list-style: none;
    padding: 0 0 0 5px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.more {
    font-style: italic;
    color: darkkhaki;
}

.content img {
    margin-left: 5px;
    vertical-align: top;
}

.branches {
    padding: 0px;
    margin: 0px;
}

.compact {
    border: 1px solid rgba(255,255,255,0);
    position: relative;
    top: -16px;
    left: -8px;
    margin: 0px -8px -16px 0px;
}

.inserted {
    background-color: khaki;
}

.deleted {
    color: darkkhaki;
    text-decoration: line-through;
}

.quickdiff .inserted {
    background-color: orange;
}

.quickdiff .deleted {
    color: orange;
}

.section-h1 {
    font-size: 16pt;
    font-weight : bold;
}

.section-h2 {
    font-size: 14pt;
    font-weight : bold;
}
.section-p {
    font-size: 11pt;
    margin: 0 0 10px 0;
}
.section-li {
    width: 3em;
}