body {
    margin: 5px;
}
table {
    width:100%;
    cell-padding: 1px;
}
td {
    vertical-align: top;
    margin: 1px;
    padding: 1px;
}

hr {
    color:#660099;
    background-color:#660099;
    height:3px;
    border: 0px;
}

li {
    list-style: none;
}
li img {
    margin: 0 10px 0 0;
}

.error {
    color: #CC0000;
    font-weight: bold;
}

.history a {
    margin: 0 0 0 5px;
    text-decoration: none;
}

.history .active {
    font-weight: bold;
}

.inserted {
    background-color: yellow;
}

.deleted {
    color: gray;
    text-decoration: line-through;
}

.header {
    font-size: 11pt;
}

.section-h1 {
    font-size: 16pt;
    font-weight : bold;
}

.section-h2 {
    font-size: 14pt;
    font-weight : bold;
}

.section-ol {
    margin: 1px 1px 1px 20px;
}

.section-p {
    font-size: 11pt;
}
.section-ol {
    font-size: 11pt;
}
.section-ul {
    font-size: 11pt;
}